@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* Estilos generales */
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    text-align: center;
    margin-top: 20px;
}

h1,
h2,
h3 {
    color: #0ff;
    /* Color azul neón para los encabezados */
    text-shadow: 0 0 10px #0ff;
    /* Efecto neón */
}

/* Estilo para los títulos */
h1 {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #004cff, #00c8ff);
    /* Degradado azul */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Estilo para los enlaces */
.link {
    display: inline-block;
    margin: 10px;
}

/* Estilo para las imágenes */
.image {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Efecto de hover para las imágenes */
.image:hover {
    transform: scale(1.05);
}

/* Estilo para la cuadrícula de imágenes */
.grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}