@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #000000;
    color: #eee;
    margin: 0;
    padding: 50px;
}

/* Botón para ir al inicio */
.home-button {
    background: transparent;
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto Mono', 'monospace';
    transition: background-color 0.3s;
}

.home-button:hover {
    background: linear-gradient(to right, #004cff, #00c8ff);
    color: #222;
}

/* Estilos para el botón flotante de subir */
#botonSubir {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #000000;
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s, color 0.3s;
}

#botonSubir:hover {
    background: linear-gradient(to right, #004cff, #00c8ff);
    color: #222;
}
/* Botón de enviar formulario */
button[type="button"] {
    background-color: #0ff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
}

button[type="button"]:hover {
    background: linear-gradient(to right, #004cff, #00c8ff);
    color: #222;
}

/* Estilos para el contenedor principal */
.contenedor {
    width: 80%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-flow: column;
}

/* Estilos para los títulos */
h1 {
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para los párrafos */
p {
    color: #eee;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Estilos para el formulario */
#quiz-form {
    text-align: left;
}

/* Estilos para las preguntas */
.pregunta {
    margin-bottom: 20px;
}

/* Estilos para las opciones de respuesta */
.opciones label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Estilos para los botones de radio */
input[type="radio"] {
    margin-right: 5px;
}

/* Estilos para respuestas correctas e incorrectas */
.correct {
    color: green;
    font-weight: bold;
}

.incorrect {
    color: red;
    font-weight: bold;
}

/* Estilo para el resultado */
#result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .contenedor {
    width: 95%; 
  }

  .opciones label {
    font-size: 14px; 
  }

  button[type="button"] {
    font-size: 14px; 
  }
}
