@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    /* Usa la fuente Roboto Mono */
    line-height: 1.6;
    margin: 0px;
    padding: 250px;
    background: #000000;
    /* Fondo oscuro */
    color: #eee;
    /* Texto claro */
}

h1,
h2,
h3 {
    color: #0ff;
    /* Color azul neón para los encabezados */
    text-shadow: 0 0 10px #0ff;
    /* Efecto neón */
}

h1 {
    text-align: center;
    padding: 20px;
    background: #00c8ff;
    /* Degradado azul */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px;
    background: rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente */
    border-radius: 10px;
    overflow: hidden;
    /* Para que el efecto degradado no se salga del contenedor */
}

nav li {
    display: inline-block;
    margin: 0;
}

nav a {
    display: block;
    text-decoration: none;
    color: #eee;
    padding: 15px 20px;
    transition: background 0.3s, color 0.3s;
    /* Transiciones suaves */
}

nav a:hover {
    background: linear-gradient(to right, #004cff, #00c8ff);
    /* Degradado azul al pasar el ratón */
    color: #222;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    /* Fondo blanco semitransparente */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
    /* Sombra con efecto neón */
}

article {
    margin-bottom: 20px;
}

ul,
ol {
    padding-left: 40px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    /* Sombra con efecto neón */
}


#botonSubir {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 20px;
  background-color: #000000;
  color: #0ff;
  text-shadow: 0 0 10px #0ff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

#botonSubir:hover {
    background: linear-gradient(to right, #004cff, #00c8ff);
    color: #222;
}
