@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
    font-family: 'Roboto Mono', 'monospace';
    line-height: 1.6;
    margin: 0px;
    padding: 175px;
    /* Reducido para dar más espacio al contenido */
    background: #000000;
    color: #eee;
}

/* Estilos para los encabezados */
h1,
h2,
h3 {
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
}
.contenido-codigo {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
}

.contenido-codigo img {
    margin-left: 20px; /* Espacio entre el texto y la imagen */
}
.contenido-codigo-objeto {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
}

.contenido-codigo-objeto img {
    margin-left: 20px; /* Espacio entre el texto y la imagen */
}

/* Estilos para el titulo */
h1 {
    text-align: center;
    padding: 10px;
    background: #00c8ff;
    background-clip: text;
    color: transparent;
}

/* Estilos para la navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

nav li {
    display: inline-block;
    margin: 0;
    font-size: 13px;
}

nav a {
    display: block;
    text-decoration: none;
    color: #eee;
    padding: 15px 20px;
    transition: background 0.3s, color 0.3s;
}

nav a:hover {
    background: linear-gradient(to right, #004cff, #00c8ff);
    color: #222;
}

/* Estilos para las secciones */
section {
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
}

/* Estilos para los artículos dentro de las secciones */
.informacion {
    padding: 20px;
    /* El padding se mueve al div .articulo */
    margin-bottom: 20px;
}

/* Estilos para listas */
ul,
ol {
    padding-left: 40px;
}

/* Estilos para imágenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

/* Estilos para el botón de "subir" */
#botonSubir {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #000000;
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
.home-button {
    background-color: #000000;
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #000000;
}


#botonSubir:hover {
    background: linear-gradient(to right, #004cff, #00c8ff);
    color: #222;
}

/* Media query para pantallas pequeñas (opcional) */
@media(max-width: 450px) {

    /* Puedes añadir estilos específicos para pantallas pequeñas aquí */
    nav li {
        font-size: 11px;
        /* Ajusta el tamaño de la fuente en el menú */
    }

    .informacion {
        padding: 10px;
        /* Reduce el padding en pantallas pequeñas */
    }
}
