@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
    font-family: 'Roboto Mono', 'monospace';
    line-height: 1.6;
    margin: 0px;
    padding: 175px;
    padding-top: 10px;
    /* Reducido para dar más espacio al contenido */
    background: #000000;
    color: #eee;
}

/* Estilos para los encabezados */
h1,
h2,
h3 {
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
}

.contenido-codigo {
    display: flex;
    align-items: center;
    /* Alinea verticalmente los elementos */
}

.contenido-codigo img {
    margin-left: 20px;
    /* Espacio entre el texto y la imagen */
}

.contenido-codigo-objeto {
    display: flex;
    align-items: center;
    /* Alinea verticalmente los elementos */
}

.contenido-codigo-ejecutable {
    display: flex;
    align-items: center;
    /* Alinea verticalmente la imagen con el texto */
    justify-content: space-between;
    /* Se asegura de que haya espacio entre el texto y la imagen */
}

.contenido-codigo-ejecutable img {
    margin-left: 20px;
    /* Espacio entre el texto y la imagen */
}

.contenido-codigo-objeto img {
    margin-left: 20px;
    /* Espacio entre el texto y la imagen */
}

/* Estilos para el titulo */
h1 {
    text-align: center;
    padding: 10px;
    background: #00c8ff;
    background-clip: text;
    color: transparent;
}

.contenido-lenguajes {
    display: flex;
    align-items: center;
    /* Alinea la imagen y el texto verticalmente */
    justify-content: flex-start;
    /* Alinea los elementos de izquierda a derecha */
    gap: 20px;
    /* Espacio entre la imagen y el texto */
}

.contenido-lenguajes img {
    width: 250px;
    height: 250px;
}

.texto-lenguajes {
    flex: 1;
    /* Hace que el texto ocupe el resto del espacio disponible */
}

@media (max-width: 768px) {
    .contenido-lenguajes {
        flex-direction: column;
        align-items: center;
    }

    .contenido-lenguajes img {
        width: 200px;
        height: 200px;
    }

    .texto-lenguajes {
        text-align: center;
    }
}


/* Estilos para el menú */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    align-items: center;
}

nav li {
    display: inline-block;
    position: relative;
    align-items: center;
}

nav a {
    display: block;
    text-decoration: none;
    color: #eee;
    padding: 15px 20px;
    font-size: 18px;
    transition: background 0.3s, color 0.3s;
    align-items: center;
    
}

/* Estilos para los submenús */

nav li ul {
    /* Selecciona las listas <ul> que son submenús (dentro de un <li>) */
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 200px;
    z-index: 1;
    /* Asegura que el submenú se muestre encima de otros elementos */
}


nav li:hover ul {

    display: block;

}

nav li ul li a {
    /* Selecciona los enlaces <a> dentro de los submenús */
    padding: 10px;
    border-bottom: 1px solid #555;
    transition: background 0.3s, color 0.3s;
}

nav li ul li a:hover {
    background: linear-gradient(to right, #004cff, #00c8ff);
    color: #222;
   
}

/* Estilos para el último elemento del submenú */

nav li ul li:last-child a {
    /* Selecciona el último enlace <a> de cada submenú */
    border-bottom: none;
    /* Elimina la línea divisoria del último enlace */
}

/* Estilos para las secciones */
section {
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
}

/* Estilos para la información dentro de las secciones */
.informacion {
    padding: 20px;
    /* El padding se mueve al div .articulo */
    margin-bottom: 20px;
}

/* Estilos para listas */
ul,
ol {
    padding-left: 40px;
}

/* Estilos para imágenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

button {
    font-family: 'Roboto Mono', 'monospace';
    font-size: 16px;
    color: #fff;
    background: #0ff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 0 0 5px #0ff;
    transition: background-color 0.3s, transform 0.3s;
}

/* Botón para ir al inicio */
.home-button {
    background-color: #000000;
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto Mono', 'monospace';
    transition: background-color 0.3s;
}

.home-button:hover {
    background:linear-gradient(to right, #004cff, #00c8ff);
    color: #222;
}

/* Estilos para el botón flotante de subir */
#botonSubir {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #000000;
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s, color 0.3s;
}

#botonSubir:hover {
    background: linear-gradient(to right, #004cff, #00c8ff);
    color: #222;

}

.metodologias-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas */
    gap: 20px;
    /* Espacio entre columnas */
}

.metodologias-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metodologias-container h3 {
    text-align: center;
}

.metodologias-container img {
    margin-top: 10px;
}

.metodologias-container ul {
    padding-left: 20px;
    text-align: left;
}


.devops-img {
    width: 500px;
    /* Aumentamos el ancho de la imagen */
    height: 900px;
    /* Reducimos la altura para hacerla más alargada horizontalmente */
}

/* Media query para pantallas pequeñas (opcional) */
@media(max-width: 450px) {

    /* Puedes añadir estilos específicos para pantallas pequeñas aquí */
    nav li {
        font-size: 11px;
        /* Ajusta el tamaño de la fuente en el menú */
    }

    .informacion {
        padding: 10px;
        /* Reduce el padding en pantallas pequeñas */
    }
}

/* Estilo para las dos columnas */
.columnas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* Espacio entre las columnas */
}

.columna {
    width: 48%;
}

.columna h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.columna ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Ajustes de imagen */
.columna img {
    width: 70%;
    height: auto;
}

.imagen-derecha {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* Contenedor para las imágenes */
.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

/* Imagen alineada a la izquierda */
.image-container .image-left {
    flex: 0 0 auto; /* Evita que las imágenes se redimensionen automáticamente */
    margin-right: auto; /* Empuja la imagen hacia la izquierda */
}

/* Imagen alineada a la derecha */
.image-container .image-right {
    flex: 0 0 auto; /* Evita que las imágenes se redimensionen automáticamente */
    margin-left: auto; /* Empuja la imagen hacia la derecha */
}

/* Ajuste de tamaño para las imágenes */
.image-container img {
    max-width: 100%; /* Escala las imágenes proporcionalmente */
    height: auto; /* Mantiene la proporción original */
}

/* Responsividad: Alineación vertical en pantallas pequeñas */
@media (max-width: 768px) {
    .image-container {
        flex-direction: column; /* Cambia a diseño vertical */
        align-items: center; /* Centra las imágenes */
    }

    .image-container .image-left,
    .image-container .image-right {
        margin: 10px 0; /* Espaciado entre imágenes en pantallas pequeñas */
    }
}

